body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#me-description {
  text-align: center;
}

.arrow {
  color: #969696;
}

strong {
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

a {
  color: #2941C8;
  text-decoration: none;
  cursor: pointer;
}

h1.post-title {
  font-size: 36px;
}
h1, h2, h3, h4, h5, h6 {
  color: #696969;
  font-weight: 300;
  margin-bottom: 5px;
}

a:hover {
  color: #2A81B1;
  text-decoration: none;
}

.post-body img, .img-round {
  width: 76%;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #888;
  margin-left: 12%;
  margin-right: 12%;
}
img.header-image {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
}
img.me-image {
  border-radius: 8px;
  border: 1px solid #888;
}

.metadata {
  color: #aaa;
}
.metadata a {
  color: #aaa;
}

.title {
  font-weight: 300;
  font-size: 3em;
  color: black;
}

code.highlighter-rouge, .highlighter-rouge > pre {
  background: #e2e2e2;
}

code.highlighter-rouge {
  padding-left: 2px;
  padding-right: 2px;
}

.highlighter-rouge > pre {
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 2px 10px 5px 10px;
  overflow: scroll;
}

.desc {
  color: #333;
}

.url {
  color: #aaa;
}

header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

blockquote {
  margin: 0px;
  background: #ddd;
  border-left: 2px solid #2b2b2b;
  font-size: 1em;
  padding: 2px 10px 5px 10px;
}

.container {
  margin: auto;
  max-width: 768px;
}

.post-container {
  margin-bottom: 60px;
}

.footer {
  background: #fafafa;
  padding: 8px;
  border-radius: 50px;
  width: 60%;
  margin: auto;
  text-align: center;
}

/*Paginaiton*/
.pagination {
  font-size: 1.2em;
  float: center;
  text-align: center;
}

.button {
  padding: 6px 8px;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #2941C8;
  border-radius: 3px;
  background: transparent;
  color #2941C8;
  font-weight: lighter;
}
