body {
  background-color: #ddd;
  font-family: "Raleway", sans;
}

strong {
  font-weight: bold;
}

.center-block {
  float: none;
  margin: 0 auto;
}

p {
  font-size: 1.07em;
}

a {
  color: #666;
}

p a {
  color: #333D7D;
}

a:hover {
  color: #444;
  text-decoration: none;
}

.post-date {
  
}

.metadata {
  padding-bottom: 10px;
  color: #aaa;
}

.title {
  font-size: 2.5em;
  color: black;
}

.desc {
  color: #333;
}

.url {
  color: #aaa;
}

header {
  text-align: center;
}

hr {
  border-color: #888;
}

/*Paginaiton*/
.pagination {
  font-size: 1.2em;
  float: center;
  text-align: center;
}