section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
.parallax-image {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax-title {
  text-align: center;
  margin-top: 200px;
}
.parallax-title h1 {
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px black;
}
.post-body {
  margin-top: 20px;
}