title: Will Richardson
author: Will Richardson

description: "Computers, photography, and related matters."
baseurl: ""
paginate: 13
paginate_path: "/posts/:num"
plugins: [jekyll-paginate]

email: feedback@willhbr.net
mastodon: '@willhbr@ruby.social'

url: "https://willhbr.net"
urls:
  mastodon: https://ruby.social/@willhbr
  author: https://willhbr.net/me
  human: "willhbr.net"
  photos: "https://photography.willhbr.net"
  pixelfed: "https://pixelfed.nz/willhbr"

theme_colour:
  light: "#6609a0"
  dark: "#bf8eff"

feeds:
  rss_url: "/feed.xml"
  json_url: "/feed.json"
  json_include_text: false

date_format: "%B %-d, %Y"
date_format_short: "%B %-d"
timezone: Australia/Sydney

defaults:
  - scope:
      path: ""
    values:
      image: /images/opengraph.png
      type: website
      noindex: false
  - scope:
      type: posts
    values:
      layout: post
      type: article
      auto_excerpt: true

markdown: CustomKramdownConverter
permalink: pretty
highlighter: rouge

sass:
  style: compressed

include:
  - .well-known

exclude:
  - .jj
  - CNAME
  - Containerfile.local
  - Gemfile
  - Gemfile.lock
  - README.md
  - scripts
  - pods.yaml
  - .sass-cache
