---
layout: page
---

<h1>Archive</h1>

<p>
  Subscribe via <a href="{{ site.feeds.rss_url | absolute_url }}" target=_blank>RSS</a> or
  <a href="{{ site.feeds.json_url }}" target=_blank>JSON Feed</a>. Find posts by <a href="/tags">tag</a> as well.
</p>

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year_posts in posts_by_year %}
  <h2 id="{{ year_posts.name }}">{{ year_posts.name }}</h2>
  <ul class="post-list">
    {% for post in year_posts.items %}
      <li id="{{ post.url }}"{% if post.draft %} style="font-style: italic"{% endif %}>
        <a href="{{ post.url }}">
          <span class="post-name">{{ post.title }}</span>
          <span class="dots"></span>
          <span class="date">{{ post.date | date: site.date_format_short }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
