---
layout: blog
---

{% for post in paginator.posts %}
  <div class="post-container">
    <h1>
      {% if post.link == null %}
        <span class="arrow">&#10093; </span>
        <a class="post-link post-title" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      {% else %}
        <a class="post-link post-title" href="{{ post.link }}">
          {{ post.title }}
          <span class="arrow">&#8594; </span>
        </a>
      {% endif %}
    </h1>

    <div class="metadata">
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span> &bull; 
      <a href="{{  post.url }}" class="permalink" title="Permalink">&infin;</a>
    </div>
    
    <div class="post-body">
      {% if post.header != null %}
        <img src="{{ post.header }}" class="header-image"/>
      {% endif %}
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

<!-- Pagination links -->

{% include pagination.html %}