---
layout: page
---

{% for page in paginator.posts %}
  <div class="post-container">
    <h1 class="post-title">
      <a class="post-link" href="{{ post.url | absolute_url }}">
        {{ page.title }}
      </a>
    </h1>

    <div class="metadata">
      {{ page.date | date: "%B %-d, %Y" }} &bull;
      {% if page.author != null %}
        {% if page.author_url != null %}
          <a href="{{ page.author_url }}">{{ page.author }}</a>
        {% else %}
          {{ page.author }}
        {% endif %}
      {% else %}
        <a href="{{ site.author_url }}">{{ site.author }}</a>
      {% endif %}
    </div>
    
    <div class="post-body">
      {% if page.header != null %}
        <img src="{{ page.header }}"/>
      {% endif %}
      {{ page.content }}
    </div>
  </div>
{% endfor %}

{% include pagination.html %}
