---
layout: page
---

{% assign post = site.posts[0] %}
{% include post.html %}

<ul class="post-list">
  {% for post in site.posts limit:site.paginate offset:1 %}
    <li{% if post.draft %} style="font-style: italic"{% endif %}>
      <a href="{{ post.url }}">
        <span class="post-name">{{ post.title }}</span>
        <span class="dots"></span>
        <span class="date">{{ post.date | date: site.date_format_short }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<br>

{% include pagination.html %}
