<footer>
  <p>&copy; <a href="/me">Will Richardson</a> 2014-{{ site.time | date: '%Y' }}
  <p>All views and opinions expressed here are solely are my own.</p>
  <p>
    <a class="button" href="/archive">Archive</a>
    <a class="button" target=_blank href="{{ site.rss }}">RSS</a>
    <a class="button" target=_blank href="{{ site.jsonfeed }}">JSON Feed</a>
    <a class="button" id="theme-reset" onclick="localStorage.removeItem('theme-toggle'); this.style.display = 'none'; setTheme()">Reset light/dark</a>
  </p>
</footer>
