<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#2b2b2b">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap core CSS -->
<link href="{{ "/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">

<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
