<header class="site-header">
  <a href="/" class="title">
    {{ site.title }}
  </a>
  <p>
    {%- if page.url != "/me/" -%}
      <a class="button" href="/me">Me</a> /
    {% endif %}
    {%- if page.url != "/" -%}
      <a class="button" href="/">Blog</a> /
    {%- else -%}
      <a class="button" href="/archive">Posts</a> /
    {% endif %}
    <a class="button" href="{{ site.urls.photos }}">Photos</a> /
    <a class="button" rel="me" target=_blank href="{{ site.urls.mastodon }}">Mastodon</a>
  </p>
</header>
