<header class="col-md-8 col-xs-12 center-block">
  <a class="title" href="/">{ {{ site.title }} }</a>
  <br>
  <!-- <span class="desc">{{ site.description }}</span> &bull;
  <a class="url" href="/blog">{{ site.human_url }}/blog</a> -->
  <a class="btn btn-primary btn-sm" href="/me">Me</a>
  <a class="btn btn-primary btn-sm" href="http://github.com/javanut13">GitHub</a>
  <a class="btn btn-primary btn-sm" href="http://twitter.com/javanut13">Twitter</a>
  <a class="btn btn-primary btn-sm" href="/blog">Blog</a>
</header>