<meta charset="utf-8">
{% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/main.css">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ site.theme_colour.light }}">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ site.theme_colour.dark }}">
<link rel="preload" href="/css/din.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/plex-sans.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/plex-sans-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/jetbrains-mono.woff2" as="font" type="font/woff2" crossorigin>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%- capture page_description -%}
  {%- if page.auto_excerpt -%}{{ page.content | strip_html | truncatewords: 80 }}{% else %}{{ site.description }}{% endif %}
{%- endcapture -%}
<meta name="description" content="{{ page_description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.feeds.rss_url | absolute_url }}">
<link rel="alternate" type="application/feed+json" title="{{ site.title }}" href="{{ site.feeds.json_url | absolute_url }}">

<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:type" content="{{ page.type }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:image" content="{{ page.image | absolute_url }}">
{% if page.type == 'article' %}
  {% assign date = page.date %}
  <meta property="article:published_time" content="{% include smart_date format='%FT%T%:z' %}">
{%- endif -%}
<meta name="fediverse:creator" content="{{ site.mastodon }}">
{% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
