<h1 class="post-title">
  <a class="post-link" href="{{ post.url }}">
    {{ post.title }}
  </a>
</h1>

<div class="metadata">
  <a href="/archive#{{ post.url }}">{{ post.date | date: "%B %-d, %Y" }}</a> &bull;
  {% if post.author != null %}
    {% if post.author_url != null %}
      <a href="{{ post.author_url }}">{{ post.author }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
  {% else %}
    <a href="{{ site.author_url }}">{{ site.author }}</a>
  {% endif %}
</div>

<div class="post-body">
  {{ post.content }}
</div>
