@mixin light-mode
  --hc: #{$highlight-colour-light}
  --bc: #{$background-colour-light}
  --tec: #{$text-colour-light}
  --itpc: #{$inline-text-pill-colour-light}
  --blc: #{$blockquote-colour-light}
  --lhc: #{$link-hover-colour-light}
  --mc: #{$metadata-colour-light}
  --fc: #{$footer-colour-light}

  --c-b: #{$code-background-light}
  --c-t: #{$code-type-light}
  --c-s: #{$code-string-light}
  --c-l: #{$code-literal-light}
  --c-k: #{$code-keyword-light}

@mixin dark-mode
  --hc: #{$highlight-colour-dark}
  --bc: #{$background-colour-dark}
  --tec: #{$text-colour-dark}
  --itpc: #{$inline-text-pill-colour-dark}
  --blc: #{$blockquote-colour-dark}
  --lhc: #{$link-hover-colour-dark}
  --mc: #{$metadata-colour-dark}
  --fc: #{$footer-colour-dark}

  --c-b: #{$code-background-dark}
  --c-t: #{$code-type-dark}
  --c-s: #{$code-string-dark}
  --c-l: #{$code-literal-dark}
  --c-k: #{$code-keyword-dark}

body
  @include light-mode

@media(prefers-color-scheme: dark)
  body
    @include dark-mode

$highlight-colour: var(--hc)
$background-colour: var(--bc)
$text-colour: var(--tec)
$inline-text-pill-colour: var(--itpc)
$blockquote-colour: var(--blc)
$link-hover-colour: var(--lhc)
$metadata-colour: var(--mc)
$footer-colour: var(--fc)

$code-background: var(--c-b)
$code-type: var(--c-t)
$code-string: var(--c-s)
$code-literal: var(--c-l)
$code-keyword: var(--c-k)
