<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
  </head>
    <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            {{ content }}
          </div>
          
          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>