---
layout: page
---

{% assign post=page %}
{% include post.html %}

<div class="post-footer">
  <p>
    {% if page.next.url %}
      <a href="{{ page.next.url }}">&larr; {{ page.next.title }}</a>
    {% endif %}
    {% if page.previous.url %}
      {% if page.next.url %}|{% endif %}
      <a href="{{ page.previous.url }}">{{ page.previous.title }} &rarr;</a>
    {% endif %}
  </p>

  <p>
    Subscribe via <a href="{{ site.rss | absolute_url }}" target=_blank>RSS</a> or
    <a href="{{ site.jsonfeed }}" target=_blank>JSON Feed</a>. More posts are in
    the <a href="/archive">archive</a>.
    <br>
    Send me a toot on Mastodon:
    <a href="{{ site.mastodon_url }}" target=_blank>@willhbr@ruby.social</a>.
  </p>
</div>
