---
layout: page
---

{% assign post=page %}
{% include post.html %}

<div class="post-footer">
  <p>
    Send feedback via
    <a href="{{ site.urls.mastodon }}" target=_blank>Mastodon</a> or
    {% capture subject %}Feedback: {{ post.title }}{% endcapture %}
    <a href="mailto:{{ site.email }}?subject={{ subject | uri_escape }}" target=_blank>email</a>.
    Subscribe via <a href="{{ site.feeds.rss_url }}">RSS</a> or <a href="{{ site.feeds.json_url }}">JSON Feed</a>.
  </p>

  <div class="post-nav">
    <div class="nav-left">
      {% if page.next.url %}
        &larr;&nbsp;<a href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% endif %}
    </div>
    <div class="nav-right">
      {% if page.previous.url %}
        <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>&nbsp;&rarr;
      {% endif %}
    </div>
  </div>

  <p>
    <a class="button" href="/archive#{{ page.date | date: '%Y' }}">Archive</a>
    {% if tags.size > 0 %}
      {% for tag in tags %}
        / <a class="button" href="/tags#{{ tag }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </p>
</div>
