---
layout: page
---

<h1 class="tag">{{ page.tag }}</h1>

{% include tag_list.html %}

{% assign subtitle = site.data.tags[page.tag] %}
{% if subtitle %}
  <i>{{ subtitle | markdownify }}</i>
{% endif %}

{% assign posts_by_year = site.tags[page.tag] | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year_posts in posts_by_year %}
  <h2 id="{{ year_posts.name }}">{{ year_posts.name }}</h2>
  <ul class="post-list">
    {% for post in year_posts.items %}
      <li id="{{ post.url }}"{% if post.draft %} style="font-style: italic"{% endif %}>
        <a href="{{ post.url }}">
          <span class="post-name">{{ post.title }}</span>
          <span class="dots"></span>
          <span class="date">{{ post.date | date: site.date_format_short }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
